.footer {
  /* background: #ff7900; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
  margin-top: auto;
}

.socialMedia svg {
  color: white;
  margin: 20px;
  font-size: 75px;
  cursor: pointer;
}

.footer p {
  color: white;
  font-size: 16pt;
}

@media only screen and (max-width: 1800px) {
  .footer svg {
    font-size: 60px;
  }
  .footer p {
    font-size: 12pt;
  }
}

@media only screen and (max-width: 600px) {
  .footer svg {
    font-size: 50px;
  }
  .footer p {
    font-size: 10pt;
  }
}
