.projects {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projects .projectTitle {
  text-align: center;
  color: #3e497a;
  font-size: 60px;
  font-weight: bolder;
}

.projects h1 {
  color: #fff900;
}

.projectList {
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  margin: 0 auto;
}

/* MENU ITEM STYLING */

.projectItem {
  border-radius: 15px;
  width: 300px;
  height: 300px;
  margin: 40px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.projectItem h1 {
  color: white;
  font-size: 23px;
}

.projectItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.projectItem .bgImage {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 2561px) {
  .projectItem {
    width: 450px;
    height: 450px;
  }
  .projectItem .bgImage {
    height: 300px;
  }

  .projects h1 {
    font-size: 32pt;
  }

  .projectItem h1 {
    font-size: 26pt;
  }
}

@media only screen and (max-width: 2250px) {
  .projectItem {
    width: 450px;
    height: 400px;
  }
  .projectItem .bgImage {
    height: 300px;
  }

  .projects h1 {
    font-size: 36pt;
  }

  .projectItem h1 {
    font-size: 22pt;
  }
}

@media only screen and (max-width: 1800px) {
  .projectList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1320px) {
  .projectList {
    width: 82%;
    grid-template-columns: 1fr 1fr;
  }

  .projectItem {
    width: 350px;
    height: 400px;
  }
  .projectItem .bgImage {
    height: 300px;
  }

  .projects h1 {
    font-size: 32pt;
  }
  .projectItem h1 {
    font-size: 18pt;
  }
}

@media only screen and (max-width: 950px) {
  .projectList {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .projectItem {
    width: 400px;
    height: 350px;
  }
  .projectItem .bgImage {
    height: 250px;
  }
  .projectItem h1 {
    font-size: 19pt;
  }
}

@media only screen and (max-width: 500px) {
  .projectList {
    width: 100%;
  }
  .projects h1 {
    font-size: 22pt;
  }

  .projectItem {
    width: 300px;
    height: 250px;
  }
  .projectItem .bgImage {
    height: 200px;
  }
  .projectItem h1 {
    font-size: 13pt;
  }
}

@media only screen and (max-width: 400px) {
  .projectItem {
    width: 250px;
    height: 250px;
  }
  .projectItem .bgImage {
    height: 200px;
  }
}
