.App {
  width: 100%;
  /* Updated to handle footer (ex: https://www.youtube.com/watch?v=pggIVY5eOGM) */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to bottom right, red, yellow);
  /* Everyone will use Poppins but be sure to change font-weight and font-style for unique looks on each */
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
